In [17]:
import pandas as pd

In [18]:
data = pd.read_csv("complete_data.csv")
locate = pd.read_excel("faculty_location.xlsx")
locate['Faculty'] = locate['Faculty'].replace('Faculty of Phamaceutical Science', 'Faculty of Pharmaceutical Science')
df = pd.merge(data,locate,on="Faculty")
df

,Year,Faculty,Count,latitude,longitude,Floor,Building (THA),Building(ENG),Note
0,2013.0,College of Population Studies,10,13.734380,100.532627,NaN,NaN,NaN,PGMM+Q32
1,2013.0,College of Public Health Sciences,50,13.742684,100.531512,"10,11,12",NaN,Sabbasastravicaya building,NaN
2,2013.0,Faculty of Allied Health Sciences,11,13.743239,100.528292,NaN,อาคารจุฬาพัฒน์ 2,NaN,NaN
3,2013.0,Faculty of Architecture,87,13.739737,100.530829,NaN,NaN,NaN,NaN
4,2013.0,Faculty of Arts,96,13.739305,100.533923,NaN,อาคารมหาจักรีสิรินธร***,NaN,NaN
...,...,...,...,...,...,...,...,...,...
309,2022.0,Faculty of Engineering,219,13.736782,100.533139,NaN,NaN,NaN,NaN
310,2020.0,College of Public Health Sciences,19,13.742684,100.531512,"10,11,12",NaN,Sabbasastravicaya building,NaN
311,2021.0,Faculty of Sports Science,6,13.743440,100.527070,NaN,NaN,NaN,NaN
312,2021.0,Faculty of Law,1,13.735258,100.528756,NaN,NaN,NaN,NaN
313,2021.0,Faculty of Medicine,265,13.733108,100.535681,NaN,NaN,NaN,NaN

In [19]:
df.to_csv("data_locate.csv", index=False)